/*ESTILS INDEX.HTML*/

/*BODY*/
body {
    background-color: #DED2C5;
    padding: 0px;
    margin: 0px;
}
/*HEADER*/
header#section_header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #6B4138;
    padding: 4vh 30vw 1vh 30vw;
    font-family: Candara;
    text-align:left;
    font-size: 2em;
    }

/*MENU_NAVEGACIÓ*/
    /*CAJA_ENCABEZADO*/
    div#caja_encabezado {

    }
    nav {
        background-color:#14130E;
        padding: 0vh 30vw 0vh 30vw;
        position: sticky;
        padding: 3vh 0vw 3vh 0vw;
        top: 0px;
        text-align: center;
    }

    a {
        color: #ffffff;
        text-decoration:none;

    }

    /*ESTILS TITOL_YAKUZAS*/
    h1#titulo_encabezado_yakuzas{
        color: #D42607;
        text-align:center;
        /*border: 1px solid black;*/
    }

    /*ESTILS CONJUNT GRUP DIV_ENCABEZADO*/
    div.div_menu_opcions {
        font-weight: bold;
        display:inline-block;
        padding: 0px;
        margin:0% 5%;
        color: #14130E;
    }

    /*ESTIL FOOTER_YAKUZAS*/
    h6#footer_titol_my_website {
        font-family:Helvetica;
        text-align:center;
        padding:10px 0px 10px 0px;
        margin-left: 0vh;
        margin-right: 0vw;
        margin-bottom: -3vw;
        background-color: #6B4138;
        color: #ffffff;
        }

    /*ESTIL DE CADA SECCIÓ*/
    #primera_section {
    padding: 1vh 5vh 1vh 5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #D5A08B;
    }
    #segona_section {
    padding: 1vh 5vh 1vh 5vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: #D5A08B;
    }
    #tercera_section {
    padding: 1vh 5vh 1vh 5vh;
    margin-top: 2vh;
    background-color: #D5A08B;
    }
    main {
    margin: 2vh 10vw 3vh 10vw;
    text-align:center;
    }